---
layout: base.njk
---
<article>
  <header class="post-header">
    <p class="meta">{{ page.date | readableDate }}</p>
    <h1>{{ title }}</h1>
    {% if deck %}<p class="deck">{{ deck }}</p>{% endif %}
  </header>
  {{ content | safe }}
</article>
