---
layout: page.njk
section: dev
metaLabel: dolor · amet
title: Dev
deck: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
---
<ul class="index">
  {% for project in dev %}
  <li>
    <p class="meta">{{ project.meta }}</p>
    <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
    <p>{{ project.blurb }}</p>
  </li>
  {% endfor %}
</ul>
