---
layout: page.njk
section: games
metaLabel: ipsum · dolor
title: Games
deck: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
---
<ul class="index">
  {% for game in games %}
  <li>
    <p class="meta">{{ game.meta }}</p>
    <h2><a href="{{ game.url }}">{{ game.title }}</a></h2>
    <p>{{ game.blurb }}</p>
  </li>
  {% endfor %}
</ul>
