---
layout: page.njk
section: blog
metaLabel: lorem · ipsum
title: Blog
deck: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
---
<ul class="index">
  {% for post in collections.post | reverse %}
  <li>
    <p class="meta">{{ post.date | readableDate }}</p>
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    {% if post.data.deck %}<p>{{ post.data.deck }}</p>{% endif %}
  </li>
  {% endfor %}
</ul>
